doctype html
html
  head
    title Mahjong Nani-kiru?
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
    link(rel='stylesheet' href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css")
    link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.min.css")
    block extraHeader
  body(class="bg-light")
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
      a(class="navbar-brand mb-0 h1 text-light" href="/") 
        img(src='/images/ton.png')
        | Mahjong Nani-kiru?
      button(type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="Navbar")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item")
            a(class="nav-link" href="/list") List
          li(class="nav-item")
            a(class="nav-link" href="/quiz/new") Create
          if user
            li(class="nav-item")
              a(class="nav-link" href="/logout") Sign out
          else
            li(class="nav-item")
              a(class="nav-link" href="/login") Sign in
    div(class="container")
      br
      block content
    